<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=0, initial-scale=1, width=device-width">
    <title>News</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/joke.js"></script>
</head>
<body>
    <div class="box">
        <h1 id="author"></h1>
        <p id="content"></p>
    </div>
    <input type="button" id="btn" value="change">
</body>
</html>